* {
    margin: 0;
    padding: 0;
    font-family: "Bahnschrift", sans-serif;
    font-size: x-large; /* propriété commune à tout le site */
}

body {
    background-image: #ACB7C3; 
    background-attachment: fixed;
    height: 100%;
}


/** Propriétés de la barre de navigation ________________________________________________________________________________**/

.active {
   font-weight: bold; /* arrière-plan quand les boutons sont cliqués */
   color: #1B263B; /* couleur du texte */
   text-decoration: underline; /* souligner le texte */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 0; /* Augmente le padding vertical pour plus de hauteur */
    overflow: hidden;
    background-color: #E0E1DD;  /* propriété de la barre de navigation */
    display: flex;
    align-items: center; /* centre verticalement */
    width: 100%; /* ou une largeur fixe comme 1200px */
    border: 2px solid black; /* Ajoute une bordure noire de 2 pixels */
}

.titre-marieteam {
    margin-right: auto; /* pousse les autres éléments à droite */
}

li b {
    font-size: xx-large;
    font-family: "Lucida fax";
}


.nav-buttons {
    display: flex; /* permet d'aligner les boutons horizontalement */
}

li {
    margin-left: 20px; /* espace entre les éléments */
}

li a {
    font-size: large;
    font-family: "Lucida fax";
    display: block;
    color: #1B263B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* permet de gérer le texte dans la navbar */
}


b {
    font-weight: bold;
}

.connexion-btn {
    font-size: large;
    font-family: "Lucida fax";
    cursor: pointer;
    background-color: #415A77; /* couleur de fond bleue */
    color: white; /* couleur du texte */
    padding: 10px 8px; /* même padding que les autres boutons */
    border-radius: 20px; /* arrondir les coins */
    text-decoration: none; /* enlever le soulignement */
}

/** Propriétés de la page d'accueil ______________________________________________________________________________________**/
/** Propriétés de l'intro 1 ______________________________________________________________________________________**/

.intro {
    text-align: center; /* Centre le texte */
    margin-top: -70; /* Assure que la section est en haut de la page */
    padding: 20px; /* Ajoute un peu d'espace autour de la section */
}

.intro h1 {
    font-size: 3em; /* Titre très gros */
    margin: 0; /* Supprime la marge par défaut */
}

.titre1 {
    font-size: 1em; /* Même taille que h1 */
    margin: 0; /* Supprime la marge par défaut */
    color: #778DA9;
}

.intro h2 {
    font-size: 0.8em; /* Taille de police pour le h2 */
    margin-left: 525px; /* Décalage à gauche */
    color: #778DA9;
}

.intro p {
    font-size: 0.9em; /* Paragraphe plus petit */
    max-width: 800px; /* Limite la largeur maximale du paragraphe */
    margin: 20 auto; /* Centre le paragraphe horizontalement */
    padding: 0 20px; /* Ajoute un espace de 20 pixels à gauche et à droite */
}

.separator {
    border: none; /* Supprime la bordure par défaut */
    height: 2px; /* Hauteur de la ligne */
    background-color: #000; /* Couleur de la ligne */
    max-width: 800px; /* Limite la largeur maximale du paragraphe */
    margin: 20 auto; /* Centre la ligne horizontalement */
    padding: 0 20px; /* Ajoute un espace de 20 pixels à gauche et à droite */
}

/** Propriétés de l'intro 2 ______________________________________________________________________________________**/

.reservation {
    text-align: center; /* Centre le texte */
    padding: 20px; /* Ajoute un peu d'espace autour de la section */
}

.reservation h1 {
    font-size: 3em; /* Titre très gros */
    margin: 0; /* Supprime la marge par défaut */
}

.titre2 {
    font-size: 1em; /* Même taille que h1 */
    margin: 0; /* Supprime la marge par défaut */
    color: #778DA9;
}

.reservation h2 {
    font-size: 0.8em; /* Taille de police pour le h2 */
    margin-left: 525px; /* Décalage à gauche */
    color: #778DA9;
}

.reservation p {
    font-size: 0.9em; /* Paragraphe plus petit */
    max-width: 800px; /* Limite la largeur maximale du paragraphe */
    margin: 20 auto; /* Centre le paragraphe horizontalement */
    padding: 0 20px; /* Ajoute un espace de 20 pixels à gauche et à droite */
}

.btn-reserver {
    margin: 20 auto; /* Centre le paragraphe horizontalement */
    font-size: xx-large;
    cursor: pointer;
    background-color: #415A77; /* couleur de fond bleue */
    color: white; /* couleur du texte */
    padding: 10px 30px; /* même padding que les autres boutons */
    border-radius: 20px; /* arrondir les coins */
}

/** Propriétés de l'onglet connexion et inscription ______________________________________________________________________________________**/

.connexion {
    text-align: center; /* Centre le texte */
    margin-top: -70; /* Assure que la section est en haut de la page */
    padding: 20px; /* Ajoute un peu d'espace autour de la section */
}

.connexion h1 {
    font-size: 3em; /* Titre très gros */
    margin: 0; /* Supprime la marge par défaut */
}

.form-group {
    display: flex;
    flex-direction: column; /* Aligne le label au-dessus du champ de saisie */
    margin-bottom: 20px; /* Espace entre les groupes de champs */
}

label {
    font-weight: bold; /* Met le label en gras pour le rendre plus visible */
}

input {
    width: 100%; /* Prend toute la largeur du conteneur */
    border: 1px solid #ccc; /* Bordure du champ */
    border-radius: 10px; /* Coins arrondis */
    max-width: 800px; /* Limite la largeur maximale du paragraphe */
    margin: 30 auto; /* Centre le paragraphe horizontalement */
    padding: 8;
}

.btn-connexion {
    margin: 20 auto; /* Centre le paragraphe horizontalement */
    font-size: xx-large;
    cursor: pointer;
    background-color: #415A77; /* couleur de fond bleue */
    color: white; /* couleur du texte */
    padding: 10px 30px; /* même padding que les autres boutons */
    border-radius: 20px; /* arrondir les coins */
}

.btn-deconnexion {
    margin: 20 auto; /* Centre le paragraphe horizontalement */
    font-size: xx-large;
    cursor: pointer;
    background-color: #ff0000; /* couleur de fond bleue */
    color: white; /* couleur du texte */
    padding: 10px 30px; /* même padding que les autres boutons */
    border-radius: 20px; /* arrondir les coins */
}

/** Propriétés de Reservation ______________________________________________________________________________________________**/
 
.blockR {
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.destination {
    display: flex;
    width: 100%;
}
 
.destination ul {
    display: flex;
    width: 70%;
    list-style: none;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
